.header {
    background-color: var(--clr-primario);
    padding: 2rem;
    color: white;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content button {
    margin-left: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .025rem;
    color: white;
}