
.banner__content {
    display: flex;
    flex-direction: column;
}

.banner__content-img > img {
    width: 100%;
}

.banner__content-title {
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.banner__content-title > h1 {
    font-size: 3rem;
    text-align: center;
    font-family: var(--ff-primaria);
}

.banner__content-title > p {
    font-size: 1rem;
    text-align: center;
    font-family: var(--ff-secundaria);
    margin-top: 1rem;
}

.info__content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.info__content-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.info__content-data h3 {
    font-size: 2rem;
    color: var(--clr-primario);
}

.info__content p {
    font-size: 1rem;
    font-family: var(--ff-secundaria);
}

.info button {
    display: flex;
    font-size: 1.3rem;
    margin-top: 1rem;
    background-color: var(--clr-primario);
    color: white;
    font-family: var(--ff-primaria);
    padding: 1.2rem;
    width: 100%;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
    align-items: center;
}

.info button:hover {
    background-color: var(--clr-secundario);
}

.info button span {
    font-size: 2rem;
    margin-right: 15px;
}



